/* General */
body {font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;font-size:14px;}
table {font-size:12px;width:100%;}
h1 {font-size: 20px;text-align:center;}
h2 {color: #FF0000;font-size: 16px;font-weight: bold;border-bottom: 1px solid #FF0000;padding: 0 0 10px 0px;margin: 30px 0 10px 0;}
h3 {margin: 10px 0;text-decoration: underline;}
th {background-color: #9A9A9A;height: 20px;text-transform:uppercase;color:#FFFFFF;}
td {padding: 0 2px;overflow: hidden;}
th, td {text-align:center;}
tr.altBackgroundColor {background-color: #fff9e5}
fieldset {border: 1px solid #C0C0C0;}
a:visited,a:link{color:#12C;}
.mandatory, .errorMessage, .downTrend {color: #ff0000; }
.boldFont {font-weight:bold;}
.italicFont {font-style: italic;}
.smallerFont {font-size: smaller;}
.highlightTable {border-top: double #ff6666;}
.upTrend {color:#1a1aff;}
.hide {display:none;}

div#container {width: 720px;min-height: 500px;margin: 25px auto;display: block;}
div#content,div#topMenu{overflow: auto;width: 100%;}
div#content div {clear: both;}

div#footer {margin-top:30px;text-align:center;background-color:#C0C0C0;padding:5px 0;color:#FFFFFF;}

div#header ul {float:right;position:relative;top:-40px;}
div#header ul li {text-align:right;}

/* Search Section */
div#searchSection {margin-top: 20px;}
div#searchSection ul, div#searchSection ul li {float: left;}
div#searchSection ul {padding:0;}
div#searchSection ul li {width:50%;}
div#searchSection img.ui-datepicker-trigger {vertical-align: bottom;}
div#searchSection ul li input {width:35%}
div#searchSection input[type="submit"] {margin-top:1em;}
div#searchSection p.errorMessage {clear:both;}

/* Overview Section */

/* Detail Section */

/* CSS 3 */
input[type=button] {-moz-border-radius: 4px; border-radius: 4px;}
input[type=submit] {-moz-border-radius: 4px; border-radius: 4px;}
div#bottomContent {-moz-border-radius: 10px; border-radius: 10px;}
div#topMenu ul li, div#footer {-moz-border-radius: 5px; border-radius: 5px;}

/* Changing JQuery UI Date Picker */
.ui-datepicker {font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif !important;font-size:12px !important;}
	